
<section class="form  ">
  <div class="container">
      <div class="row no-gutters">
          <div class="col-lg-7">
              <img   src="../assets/login.image2..webp" class="img-fluid"  alt="">
          </div>
          <div class="col-lg-5">
                 <div class="row justify-content-center">
                  <h4>Login to MEWC Portal</h4>
                 </div>
              <form>
                  <div class="form-group">
                      <label class="small mb-1" for="inputEmailAddress">Email</label>
                      <input class="form-control py-3" id="inputEmailAddress" type="email"
                          placeholder="Enter email address" required/>
                  </div>
                  <div class="form-group">
                      <label class="small mb-1" for="inputPassword">Password</label>
                      <input class="form-control py-3" id="inputPassword" type="password"
                          placeholder="Enter password" required />
                  </div>
                  <div class="form-group">
                      <div class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                          <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                      </div>
                  </div>
                  <div >
                      <input class="btn btn-primary btn-lg btn-block" id="submit" type="submit" value="Submit"/>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>